#root {
  min-width: 50vw;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(110, 110, 218);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* NavBAR */
#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navBar li {
  float: left;
  background-color: #dddddd;
}
#navBar a {
  display: block;
  margin-right: 20px;
  padding: 8px;
}
li a:hover {
  background-color: #69a4b3;
}

#portfolioImg {
  width: 200px;
  height: 200px;
}
/* Header */
.headerImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  
}

.headerTxt {
  font-size: 40px;
  color: white;
}

.article {
  height: 100%;
}
/* Footer */
.footerElement {
  padding-left: 10px;
  color: white;
}

